<ng-container>
    <button mat-icon-button color="accent" routerLink="/latest" matTooltip="Latest">
        <mat-icon>history</mat-icon>
      </button>
      <button mat-icon-button color="accent" routerLink="/oldest" matTooltip="Oldest">
        <mat-icon>elderly</mat-icon>
      </button>
      <button mat-icon-button color="accent" routerLink="/hot" matTooltip="Hottest">
        <mat-icon>local_fire_department</mat-icon>
      </button>
      <button mat-icon-button color="accent" routerLink="/cold" matTooltip="Coldest">
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      <button mat-icon-button color="accent" routerLink="/popular" matTooltip="Popular">
        <mat-icon>groups</mat-icon>
      </button>
</ng-container>
